* {
  margin: 0;
  font-family: Roboto, sans-serif;
}

body {
  width: 100vw;
  background-color: #f4f4f4;
}

.container {
  padding: 0 10%; 
}

#header {
  padding: 1em 10%;
  margin-bottom: 1.25em;
  font-size: 1.25em;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #1b3b9c;
  color: #f3f3f3;
}

#post-list {
  list-style-type: none;
}

ul#post-list li {
  margin-bottom: 0.5em;
}

#go-home-link {
  position: fixed;
  top: 1em;
  left: 1em;
  color: #1b3b9c;
  display: none;
}

@media (min-width: 1024px) {
    #go-home-link {
        display: block; /* Show on desktop */
    }
}

article {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

#blog-title {
  font-size: 1.5em;
  color: #2b2b6c;
  text-transform: uppercase;
}

h1 {
    font-size: 1.5em;
    color: #2b2b6c;
    text-transform: uppercase;
}

h2 {
    color: #333;
    border-bottom: 0.0125em solid darkslategrey;
    padding-bottom: 5px;
}

p {
    margin-bottom: 15px;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    article {
        padding: 15px;
    }
}
